@import "../../css/styles/colors";
@import "../../css/styles/mixins";

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__tab {
    background-color: #7d8d91;
    color: white;
    height: 34px;
    width: max-content;
    padding: 0 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    font-size: clamp(16px, 1vw, 21px);

    @include tablet {
      margin-right: 8px;
      font-size: clamp(15px, 1.8vw, 16px);
    }
    @include mobile {
      height: 30px;
      padding: 0 12px;
      font-size: clamp(14px, 4vw, 15px);
      
      margin-right: 4px;
    }
  }
}
