@import "../../css/styles/colors";
@import "../../css/styles/mixins.scss";

.features {
  overflow-x: hidden;

  &__cover {
    height: 500px;
    position: relative;
    @media (max-width: 1300px) {
      height: 360px;
    }
    @include mobile {
      height: 200px;
    }
    background: linear-gradient(180deg, #ffffff 65.8%, #fbfbfc 100%) !important;
    mix-blend-mode: multiply;

    display: flex;
    justify-content: center;
    img {
      width: 1108px;
      margin-bottom: 40px;

      position: relative;
      top: 125px;
      height: 623px;
      object-fit: contain;
      @media (max-width: 1300px) {
        width: 716px;
        height: 403px;
        top: 140px;
      }

      @include mobile {
        width: 320px;
        height: 180px;
        top: 100px;
      }
    }
  }
  &__titles {
    margin-top: 293px;
    margin-bottom: 280px;
    @media (max-width: 1300px) {
      margin-top: 213px;
      margin-bottom: 149px;
    }
    @include mobile {
      margin-top: 84px;
      margin-bottom: 80px;
    }
    &__mainTitle {
      font-family: "Sohne 600", sans-serif;
      font-size: 46px;
      color: #11253e;
      text-align: center;
      margin-bottom: 26px;
      @media (max-width: 1300px) {
        margin-bottom: 26px;
        font-size: 38px;
      }
      @include mobile {
        margin-bottom: 18px;
        font-size: 24px;
      }
    }
    &__subTitle {
      color: #465364;
      font-size: 26px;
      text-align: center;
      line-height: 40px;
      margin: 0 auto;
      width: 586px;
      @media (max-width: 1300px) {
        font-size: 20px;
        line-height: 32px;
        width: 488px;
      }
      @include mobile {
        font-size: 15px;
        line-height: 25px;
        width: 262px;
      }
    }
    &__createAccountBtn {
      background-color: #564fe6;
      width: 254px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 90px;
      font-size: 17px;
      color: #fff;
      margin: 0 auto;
      margin-top: 46px;
      @media (max-width: 1300px) {
        margin-top: 30px;
      }
      @include mobile {
        margin-top: 24px;
        width: 188px;
        height: 40px;
        font-size: 14px;
      }
    }
  }
  &__content {
    @media (min-width: 1301px) {
      width: 1040px;
      margin: 0 auto;
    }

    @media (max-width: 1300px) {
      width: 100%;
      padding: 0 40px;
    }
    @include mobile {
      padding: 0 20px;
    }
    &__stepsContainer {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      @media (max-width: 1300px) {
        width: 100%;
      }
    }
    &__steps {
      width: 1040px;
      margin: 0 auto;
      @media (max-width: 1300px) {
        width: 100%;
      }
      @include mobile {
        display: flex;
        flex-direction: column;
      }
      &__title {
        padding-top: 60px;
        font-family: "Sohne 600", sans-serif;
        font-size: 42px;
        color: #11253e;
        width: 327px;
        margin-bottom: 101px;
        span {
          color: #564fe6;
        }
        @media (max-width: 1300px) {
          font-size: 38px;
          width: 367px;
          padding: 0;
          margin: 0 auto;
          margin-bottom: 51px;
        }
        @include mobile {
          font-size: 28px;
          order: 1;
        }
      }
      &__stepContainer {
        @media (max-width: 1300px) {
          display: flex;
          justify-content: space-between;
        }
        @include mobile {
          order: 3;
          flex-direction: column;
          display: flex;
        }
      }
      &__step {
        width: 357px;
        @media (min-width: 1301px) {
          &:last-of-type {
            display: none;
          }
        }
        @media (max-width: 1300px) {
          width: 47%;
          display: block;
        }
        @include mobile {
          width: 100%;
          &:last-of-type {
            margin-top: 40px;
          }
        }
        img {
          margin-bottom: 22px;
          @include mobile {
            margin-bottom: 20px;
            width: 25px;
            height: 25px;
          }
        }
        &__title {
          margin-bottom: 15px;
          font-size: 20px;
          font-family: "Sohne 500", sans-serif;
          color: #11243e;
        }
        &__desc {
          font-size: 16px;
          line-height: 27px;
          color: #465464;
          width: 357px;
          @media (max-width: 1300px) {
            width: 100%;
          }
          @include mobile {
            font-size: 14px;
            line-height: 25px;
          }
        }
      }

      &__footer {
        position: relative;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f8f1f8;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: 97px;
        @media (max-width: 1300px) {
          height: 390px;
          padding: 0;
          margin-top: 175px;
        }
        @include mobile {
          order: 2;
          margin-top: 57px;
          margin-bottom: 30px;
        }
        &__cover {
          display: none;
          margin: auto;
          position: relative;
          top: -110px;
          @media (max-width: 1300px) {
            width: 716px;
            display: block;
            height: 492px;
          }
        }
        .features__content__steps__step {
          display: block;
          @media (min-width: 1301px) {
            width: 1040px;
            margin: 0 auto;
          }
          @media (max-width: 1300px) {
            display: none;
          }
        }
      }
      &__cover {
        position: absolute;
        right: 0;
        top: -50px;
        @media (max-width: 1600px) {
          right: -150px;
        }
        @include desktop-sm {
        }
        @media (max-width: 1300px) {
          display: none;
        }
      }
    }
    &__transfers {
      margin-top: 220px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1300px) {
        flex-direction: column;
        justify-content: unset;
        margin-top: 110px;
        div {
          justify-content: center;
        }
      }

      @include mobile {
        margin-top: 70px;
        & > div {
          width: 100%;
        }
      }
      &__title {
        font-family: "Sohne 600", sans-serif;
        font-size: 42px;
        color: #11253e;
        margin-bottom: 26px;

        span {
          color: #564fe6;
        }
        @media (max-width: 1300px) {
          font-size: 38px;
          text-align: center;
          width: 503px;
          margin-right: 0;
        }
        @include mobile {
          font-size: 28px;
          text-align: left;
          width: 249px;
          margin-bottom: 20px;
        }
      }
      &__desc {
        font-size: 18px;
        line-height: 27px;
        color: #465464;
        width: 379px;
        @media (max-width: 1300px) {
          text-align: center;
          width: 506px;
          margin: 0 auto;
          margin-bottom: 30px;
        }
        @include mobile {
          text-align: left;
          width: 100%;
          font-size: 14px;
          line-height: 25px;
        }
      }
      &__orderImg {
        justify-content: center;
        display: flex;
        img {
          object-fit: contain;
          width: 575px;
          height: 634px;
        }
        @media (max-width: 1300px) {
          width: 100%;
          right: 0;
        }
        @include mobile {
          img {
            width: 281px;
            height: 309px;
          }
        }
      }
    }
    &__blockchain {
      margin-top: 220px;
      margin-bottom: 220px;
      position: relative;
      width: 100vw;
      margin-left: 100px;
      position: relative;
      background-color: #13202c;
      height: 571px;
      display: flex;
      align-items: center;
      @media (max-width: 1300px) {
        width: 100vw;
        height: 986px;
        left: 50%;
        margin-left: 0;
        transform: translateX(-50%);
        display: block;
        padding: 40px;
        margin-top: 110px;
        margin-bottom: 312px;
      }
      @include mobile {
        margin-top: 40px;
        padding: 40px 20px;
        height: 672px;
        margin-bottom: 193px;
      }
      &__info {
        position: relative;
        left: 480px;
        @media (max-width: 1300px) {
          position: static;
        }
        &__title {
          font-family: "Sohne 600", sans-serif;
          font-size: 42px;
          color: white;
          margin-bottom: 26px;
          width: 279px;
          span {
            color: #fbeea8;
          }
          @media (max-width: 1300px) {
            width: 421px;
            font-size: 38px;
          }
          @include mobile {
            font-size: 28px;
            text-align: left;
            width: 249px;
            margin-bottom: 20px;
          }
        }
        &__desc {
          font-size: 18px;
          line-height: 30px;
          color: #f4f8fc;
          width: 387px;
          @media (max-width: 1300px) {
            width: 658px;
          }
          @include mobile {
            font-size: 14px;
            line-height: 25px;
            width: 100%;
          }
        }
      }
      img {
        width: 600px;
        height: 841px;
        position: absolute;
        left: -183px;
        top: -130px;
        @media (max-width: 1300px) {
          position: static;
          margin-top: 50px;
        }
        @include mobile {
          width: 280px;
          height: 393px;
          margin-top: 30px;
          // left: -20px;
          margin-left: -18px;
          // position: relative;
        }
      }
    }
    &__platform {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 280px;
      @media (max-width: 1300px) {
        margin-bottom: 0;
      }
      &__title {
        font-family: "Sohne 600", sans-serif;
        font-size: 42px;
        color: #11253e;
        margin-bottom: 26px;
        text-align: center;
        @media (max-width: 1300px) {
          font-size: 38px;
        }
        @include mobile {
          font-size: 28px;
          text-align: left;
          width: 100%;
          margin-bottom: 20px;
        }
        span {
          color: #564fe6;
        }
      }
      &__desc {
        line-height: 30px;
        font-size: 18px;
        text-align: center;
        margin: 0 auto;
        color: #465464;
        margin-bottom: 102px;
        width: 623px;
        @media (max-width: 1300px) {
          margin-bottom: 50px;
        }
        @include mobile {
          font-size: 14px;
          line-height: 25px;
          width: 100%;
          text-align: left;
          margin-bottom: 6px;
        }
      }
      img {
        width: 1040px;
        height: 585px;
        @include tablet {
          width: 716px;
          height: 403px;
        }
        @media (min-width: 500px) and (max-width: 767px) {
          width: 500px;
          height: 300px;
        }
        @media (min-width: 320px) and (max-width: 500px) {
          width: 100vw;
          max-height: 250px;
        }
        // @include mobile {
        //   width: 100vw;
        //   height: 250px;
        // }
      }
    }
    &__bank {
      display: flex;
      justify-content: space-between;
      padding-bottom: 219px;
      position: relative;

      @media (max-width: 1300px) {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        padding-bottom: 100px;
      }
      @include mobile {
        margin-top: 20px;
        padding-bottom: 20px;
      }
      &::before {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100vw;
        height: 1145px;
        background: #fafbfc;
        content: "";
        z-index: -1;
        @media (max-width: 1300px) {
          height: 1280px;
        }
        @include tablet {
          height: 1160px;
        }
        @include mobile {
          height: 100%;
        }
      }
      &__left {
        max-width: 414px;
        position: relative;
        top: 35px;
        @media (max-width: 1300px) {
          max-width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        @include mobile {
          align-items: flex-start;
        }
        &__tag {
          background-color: #564fe6;
          width: 98px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 90px;
          color: white;
          font-size: 11px;
          margin-bottom: 19px;
        }
        &__title {
          font-family: "Sohne 600", sans-serif;
          font-size: 42px;
          color: #11253e;
          margin-bottom: 26px;
          span {
            color: #564fe6;
          }
          @media (max-width: 1300px) {
            text-align: center;
          }
          @include mobile {
            font-size: 28px;
            text-align: left;
            width: 173px;
            margin-bottom: 20px;
          }
        }
        &__desc {
          line-height: 30px;
          font-size: 18px;
          color: #465464;
          @media (max-width: 1300px) {
            margin-bottom: 80px;
            text-align: center;
            width: 561px;
          }
          @include mobile {
            font-size: 14px;
            line-height: 25px;
            width: 100%;
            text-align: left;
            // margin-bottom: 6px;
          }
        }
      }
      &__right {
        img {
          width: 471px;
          height: 428px;
          @include mobile {
            width: 300px;
            height: 300px;
            object-fit: contain;
          }
        }
      }
    }
    &__contact {
      height: 414px;
      background-color: #5f2bd6;

      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      @include mobile {
        height: 222px;
      }
      &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @media (min-width: 1301px) {
          width: 1040px;
          margin: 0 auto;
        }
        @media (max-width: 1300px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        // @media (max-width: 1600px) {
        //   margin-left: 150px;
        //   margin-right: 150px;
        // }
      }
      &__left {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: 1300px) {
          align-items: center;
        }
        @include mobile {
          width: 221px;
        }
        &__title {
          font-family: "Sohne 600", sans-serif;
          font-size: 42px;
          color: #fff;
          margin-bottom: 19px;
          @media (max-width: 1300px) {
            font-size: 38px;
            margin-bottom: 26px;
          }
          @include mobile {
            font-size: 26px;
            margin-bottom: 18px;
            text-align: center;
          }
        }
        &__desc {
          width: 304px;
          color: #d2ccee;
          font-size: 18px;
          line-height: 30px;
          @media (max-width: 1300px) {
            margin-bottom: 50px;
            text-align: center;
          }
          @include mobile {
            font-size: 14px;
            line-height: 25px;
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
      &__right {
        display: flex;
        width: 60%;
        justify-content: center;
        @media (max-width: 1300px) {
          width: auto;
        }
        @include mobile {
          width: 280px;
          // padding: 0 20px;
          position: relative;
        }
        input {
          width: 295px;
          padding: 15px 18px;
          background-color: white;
          border: none;
          border-radius: 90px;
          outline: none;
          color: #93a0b1;
          font-size: 16px;
          margin-right: 15px;
          font-family: "Circular Std", sans-serif;
          &::placeholder {
            color: #93a0b1;
            font-size: 16px;
            font-family: "Circular Std", sans-serif;
          }
          @include mobile {
            width: 100%;
            padding: 10.5px 18px;
            font-size: 14px;
            margin: 0;
            &::placeholder {
              font-size: 14px;
            }
          }
        }
        div {
          background-color: #171618;
          border-radius: 90px;
          font-size: 16px;
          color: #fff;
          padding: 15px 49px;
          cursor: pointer;
          @include mobile {
            position: absolute;
            width: 38px;
            height: 38px;
            border-radius: 19px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0px;
          }
        }
      }
    }
  }
}
