@import "../../css/styles/colors";
@import "../../css/styles/mixins.scss";

.footer {
  background-color: #0b0a15;
  color: white;
  // font-weight: bold;
  height: 390px;
  position: relative;
  padding: 70px 0 0 0;
  &__copyrights {
    display: none;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    left: 20px;
    bottom: 30px;
    @include mobile {
      display: block;
    }
  }
  @include tablet {
    height: 298px;
    padding: 40px 0 0 0;
  }

  @include mobile {
    padding: 30px 20px;
  }
  &__content {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @include desktop-sm {
      width: 75%;
      // top: -155px;
    }
    @include tablet {
      width: 93.5%;
    }
    @include mobile {
      width: 100%;
    }
  }
  &__leftCol,
  &__rightCol {
    width: 50%;
  }

  &__leftCol {
    display: flex;
    flex-direction: column;

    &__link {
      text-decoration: none;
      color: white;
      margin-bottom: 19px;
      font-size: 18px;
      font-family: "Sohne 500", sans-serif;
      @include tablet {
        font-size: 16px;
        margin-bottom: 18px;
      }
      @include mobile {
        font-size: 14px;
        margin-bottom: 14px;
      }
    }
  }

  &__rightCol {
    display: flex;
    // background-color: red;
    justify-content: space-around;
    @include mobile {
      flex-direction: column;
    }
    &__col {
      // width: 75%;
      // height: 280px;
      &:first-of-type {
        @include mobile {
          margin-bottom: 30px;
        }
      }
      &__copyrights {
        font-size: 15px;
        font-weight: normal;
        margin-top: 90px;
        @include mobile {
          display: none;
        }
      }
      &__title {
        font-family: "Sohne 300";
        font-size: 16px;
        margin-bottom: 25px;
        @include tablet {
          margin-bottom: 21px;
        }
        @include mobile {
          margin-bottom: 16px;
          font-size: 14px;
        }
      }

      &__links {
        display: flex;
        flex-direction: column;

        &__link {
          margin-bottom: 14px;
          font-weight: normal;
          color: white;
          text-decoration: none;
          @include tablet {
            font-size: 14px;
            margin-bottom: 11px;
          }
          @include mobile {
            font-size: 13px;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}
